.light-red {
    color: #c97071;
}
.medium-red {
    color: #ac4142;
}
.dark-red {
    color: #742c2d;
}
.light-green {
    color: #a6ba7b;
}
.medium-green {
    color: #90a959;
}
.dark-green {
    color: #66783e;
}
.light-yellow {
    color: #fae0bc;
}
.medium-yellow {
    color: #ee9e2e;
}
.dark-yellow {
    color: #d88511;
}
.light-blue {
    color: #6098b0;
}
.medium-blue {
    color: #6a9fb5;
}
.dark-blue {
    color: #46788d;
}
.light-maroon {
    color: #be7953;
}
.medium-maroon {
    color: #8f5536;
}
.dark-maroon {
    color: #573421;
}
.light-purple {
    color: #c7a4c0;
}
.medium-purple {
    color: #aa759f;
}
.dark-purple {
    color: #825078;
}
.light-orange {
    color: #d99762;
}
.medium-orange {
    color: #d28445;
}
.dark-orange {
    color: #a35f27;
}
.light-cyan {
    color: #6bb0a4;
}
.medium-cyan {
    color: #75b5aa;
}
.dark-cyan {
    color: #4d9085;
}
.light-pink {
    color: #ff4ddb;
}
.medium-pink {
    color: #ff00cc;
}
.dark-pink {
    color: #b3008f;
}
